/* GOOGLE FONT IMPORT [Ubuntu] */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400&display=swap");

/* DEFAULTS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	color: #fff;
	background-color: #541e83;
	display: flex;
}

.logo-side,
.form-side {
	height: 100%;
	width: 50%;
}

.logo-side {
	background-image: url("andrej-lisakov-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	height: 5rem;
	width: 100%;
	margin-top: 50%;
	padding-top: 1rem;
	font-weight: 300;
	text-align: center;
	background: #00000070;
}

.logo-side p {
	font-size: 0.75rem;
	font-weight: 100;
	position: fixed;
	bottom: 0.5rem;
	left: 1rem;
}

.form-side {
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-side p {
	width: 70%;
	margin: 5rem;
}

form {
	width: 80%;
	margin-bottom: 2rem;
	padding: 1.5rem;
	background-color: #72727224;
	border-radius: 15px;
	box-shadow: 0 0 0.5rem #000;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h2 {
	width: 100%;
	text-align: center;
	font-weight: 300;
	margin: 1rem;
}

form div {
	width: 45%;
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
}

label {
	font-size: 0.75rem;
	font-weight: 200;
}

input {
	height: 2rem;
	margin-top: 0.25rem;
	padding-left: 0.5rem;
	border-color: transparent;
	border-radius: 5px;
}

input:focus {
	outline: 3px solid #ff21fb;
}

button {
	cursor: pointer;
	height: 2.5rem;
	width: 7.5rem;
	margin-top: 1rem;
	font-weight: 200;
	color: #fff;
	background-color: transparent;
	border: 1px solid #ff21fb;
	border-radius: 5px;
	transition: all 0.1s linear;
}

button:hover {
	background-color: #00000070;
	border-width: 2px;
}

button:active {
	transform: scale(0.9);
}

.form-side p:nth-of-type(2) {
	text-align: center;
	font-weight: 200;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #ff21fb;
	text-shadow: 1px 1px 2px #000;
}
